In [37]:
import numpy as np

## DataTypes & Attributes
Numpy's main datatype is ndarray

In [38]:
# n-dimensional array
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [39]:
type(a1)

numpy.ndarray

In [40]:
a2 = np.array([
    [1,2],
    [3.4, 4.2]
])

a3 = np.array([[[1,2],[3,4]],[[5,6],[7,8]],[[9,10],[11,12]]])

In [41]:
a2, a2.ndim

(array([[1. , 2. ],
        [3.4, 4.2]]),
 2)

In [42]:
a3, a3.ndim

(array([[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]],

        [[ 9, 10],
         [11, 12]]]),
 3)

## NumPy Attributes

`.shape` returns the shape of each elements in the array  
`.ndim` returns the dimensions of the array  
`.dtype` returns the data types of the elements in the array  
`.size` returns the number of elements in the array, total (deep)

## Creating a DataFrame from a NumPy Array

In [43]:
import pandas as pd
df = pd.DataFrame(a2)
df

     0    1
0  1.0  2.0
1  3.4  4.2

## 2. Creating NumPy Arrays

In [44]:
sample_array = np.array([1,2,3])
sample_array

array([1, 2, 3])

`np.ones(shape, dtype=None, order='C')`  
Returns a new array of given shape and type
returns an array filled with `1.0` that matches the shape.  
`np.zeroes(shape, dtype=None, order='C')`  
Returns a new array of given shape and type
returns an array filled with `0.0` that matches the shape.

In [45]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [46]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [47]:
random_array = np.random.randint(0,10, size=(3,5))
random_array

array([[6, 7, 7, 8, 1],
       [5, 9, 8, 9, 4],
       [3, 0, 3, 5, 0]])

In [48]:
### Pseudo-random numbers
np.random.seed(0)
random_array_2 = np.random.randint(10, size=(5,3))
random_array_2

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

## 3. Viewing Arrays and Matrices

In [49]:
a2[:2]
#  It's just like slicing an array.

array([[1. , 2. ],
       [3.4, 4.2]])

In [50]:
a3[:1,:1,:1]
# When dealing with multiple dimensions, you just use comma to separate the slicing logic

array([[[1]]])

## 4. Manipulating & Comparing Arrays

### Arithmetic

In [51]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [52]:
ones + a1

array([[2., 3., 4.],
       [2., 3., 4.]])

In [53]:
list_1 = [1,2,3]
sum(list_1)

6

In [54]:
sum(a1) == np.sum(a1)

True

`np.mean(a1)`  mean  
`np.max(a1)`  max  
`np.min(a1)`  min  
`np.std(a1)`  standard deviation - how spread out the number is. standard deviation is the square rt of variation.  
`np.var(a1)`  variance - measure of average degree to which each number is different to the mean. higher: wider range, lower: lower range of numbers

In [55]:
np.var(a2)

1.5274999999999999

In [56]:
a2

array([[1. , 2. ],
       [3.4, 4.2]])

### Reshap and Transpose

`a2 * a3` would be impossible because they don't have a compatible shape. In order to run the operation, you would have to reshape it.  
Learn more about it here: [Broadcasting Rules](https://numpy.org/doc/stable/user/basics.broadcasting.html).

In [57]:
a2 = np.array([[1,2,3.3],[4,5,6.5]])
a3 = np.array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]])
reshaped_a2 = a2.reshape(2,3,1)
reshaped_a2

array([[[1. ],
        [2. ],
        [3.3]],

       [[4. ],
        [5. ],
        [6.5]]])

In [58]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [59]:
a2.T

array([[1. , 4. ],
       [2. , 5. ],
       [3.3, 6.5]])

## Dot Product

In [62]:
np.random.seed(0)
mat1 = np.random.randint(10, size=(5,3))
mat2 = np.random.randint(10, size=(5,3))
mat1

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6],
       [8, 8, 1]])

`np.dot(mat1, mat2)` returns an error. So we can transpose one of the matrices for the dot function.

In [67]:
mat3 = np.dot(mat1, mat2.T)
mat3

array([[ 51,  55,  72,  20,  15],
       [130,  76, 164,  33,  44],
       [ 67,  39,  85,  27,  34],
       [115,  69, 146,  37,  47],
       [111,  77, 145,  56,  64]])

#### Example - Nut product sales

In [68]:
np.random.seed(0)
# number of jars sold
sales_amounts = np.random.randint(20, size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [69]:
# Create weekly_sales DataFrame
weekly_sales = pd.DataFrame(sales_amounts,
                           index=["Mon", "Tues", "Wed", "Thur", "Fri"],
                           columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])
weekly_sales

      Almond Butter  Peanut Butter  Cashew Butter
Mon              12             15              0
Tues              3              3              7
Wed               9             19             18
Thur              4              6             12
Fri               1              6              7

In [73]:
# Create prices array
prices = np.array([10, 8, 12])
prices

array([10,  8, 12])

In [75]:
# without reshaping the prices array, we get an error because prices.shape is (3,) and that means it has 3 rows, not columns.
butter_prices = pd.DataFrame(prices.reshape(1,3),
                            index=["Price"],
                            columns=["Almond Butter", "Peanut Butter", "Cashew Butter"])
butter_prices

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [78]:
total_sales = prices.dot(sales_amounts.T)
total_sales

array([240, 138, 458, 232, 142])

In [79]:
# Create daily_sales
butter_prices

       Almond Butter  Peanut Butter  Cashew Butter
Price             10              8             12

In [80]:
weekly_sales

      Almond Butter  Peanut Butter  Cashew Butter
Mon              12             15              0
Tues              3              3              7
Wed               9             19             18
Thur              4              6             12
Fri               1              6              7

In [83]:
daily_sales = butter_prices.dot(weekly_sales.T)
daily_sales

       Mon  Tues  Wed  Thur  Fri
Price  240   138  458   232  142

In [85]:
weekly_sales["Total ($)"] = daily_sales.T
weekly_sales

      Almond Butter  Peanut Butter  Cashew Butter  Total ($)
Mon              12             15              0        240
Tues              3              3              7        138
Wed               9             19             18        458
Thur              4              6             12        232
Fri               1              6              7        142

## Sorting Arrays

`np.sort(ndarray)`  
sorts the array without mutating.  
`np.argsort(ndarray)`
returns ndarray wi th 
`np.argmin(ndarray)`

In [96]:
np.random.seed(0)
random_array = np.random.randint(10,size=(3,5))
random_array

array([[7, 2, 0, 0, 4],
       [5, 5, 6, 8, 4],
       [1, 4, 9, 8, 1]])

In [97]:
np.sort(random_array)
random_array

array([[0, 0, 2, 4, 7],
       [4, 5, 5, 6, 8],
       [1, 1, 4, 8, 9]])

In [98]:
np.argsort(random_array)

array([[2, 3, 1, 4, 0],
       [4, 0, 1, 2, 3],
       [0, 4, 1, 3, 2]])

In [95]:
np.argmin(a1)

0